@model WebApp.Models.Make

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Make</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TimeStamp" class="control-label"></label>
                <input asp-for="TimeStamp" class="form-control" />
                <span asp-validation-for="TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 20px">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

